*{
  margin: 0px;
  padding: 0px;
  color: #999;
}
body{
  background-color: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 4vw;
}
.heed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.heed *{
  margin: 10px 0px;
}
.chose{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.chose div, .heed div{
  background-color: #333;
  width: 15vw;
  height: 15vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.win:before{
  content: ' win: ';
  color: green;
}
.lose:before{
  content: '  lose: ';
  color: red;
}
.draw:before{
  content: '  draw: ';
  color: #888;
}